:root {
    font-family: 'Rubik', sans-serif;
    --yellow: #ffc600;
    --red: #e55643 ;
    --green: #2b9f5e;
    --yellow2: #f1c83c;
    --shadow: #533d4a;
}
a {
    color: black;
    text-decoration: underline wavy var(--yellow);
  }
.wrap {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: 5vh minmax(350px, 70vh) 5vh;
    grid-gap: 20px;
}
.header {
    grid-column: span 3;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.content {
    grid-column: 2 / 2;
    text-align: center;
}
.footer {
    grid-column: span 3;
    text-align: end
}
.header__date {
    grid-column: -1;
}
.is_holiday {
    font-family: 'Lobster', cursive;
    font-size: 10em;
    /* background: #477ac5; */
    background: var(--green);
    color: white;
    /* text-shadow: 3px 3px 0 rgba(0,0,0,0.7); */
    box-shadow: var(--shadow) 6px 6px;
   transition: all 0.1s;
   transform: skew(-10deg);
   text-shadow: var(--shadow) 1px 1px, var(--shadow) 2px 2px, var(--shadow) 3px 3px, var(--green) 4px 4px;
}