/* rubik-regular - latin-ext_latin */
@font-face {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    src: url('./rubik-v9-latin-ext_latin-regular.eot'); /* IE9 Compat Modes */
    src: local('Rubik'), local('Rubik-Regular'),
         url('./rubik-v9-latin-ext_latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('./rubik-v9-latin-ext_latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('./rubik-v9-latin-ext_latin-regular.woff') format('woff'), /* Modern Browsers */
         url('./rubik-v9-latin-ext_latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('./rubik-v9-latin-ext_latin-regular.svg#Rubik') format('svg'); /* Legacy iOS */
  }